<div class="card card_round shadow-sm mx-3 mt-4 mb-0" style="width: 330px;">
  <div class="card-body pb-0">
    <h3 class="card-title text-primary text-center mt-3">Contáctanos</h3>
    <p class="card-text px-2">Nos encontramos en Quito</p>
    <div class="card card_round mb-3 p-3">
      <div class="row no-gutters">
        <div class="col-9 p-3">
          <h5 class="card-title">Email:</h5>
          <p class="card-text">info@doctrinaec.com</p>
        </div>
        <div class="col-3">
          <div class="card-body centrado_circle_btn">
            <a href="#" class="btn btn-primary circle_btn shadow-sm mail_bg" role="button">
              <i class="material-icons align-middle icon_cirlce_btn">mail_outline</i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card_round mb-3 p-3">
      <div class="row no-gutters">
        <div class="col-9 p-3">
          <h5 class="card-title">Teléfono:</h5>
          <p class="card-text">+593 9 8388 1525</p>
        </div>
        <div class="col-3">
          <div class="card-body centrado_circle_btn">
            <a href="#" class="btn btn-primary circle_btn shadow-sm" role="button">
              <i class="material-icons align-middle icon_cirlce_btn">phone</i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card card_round mb-3 p-3">
      <div class="row no-gutters">
        <div class="col-9 p-3">
          <h5 class="card-title">WhatsApp:</h5>
          <p class="card-text">+593 9 8388 1525</p>
        </div>
        <div class="col-3 pr-3">
          <div class="card-body centrado_circle_btn">
            <a href="#" class="btn btn-primary shadow-sm circle_btn_fa whatsapp_bg" role="button">
              <i class="fab fa-whatsapp align-middle icon_cirlce_btn"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer footer_card_round">
    <a href="#" class="btn btn-primary btn-block button_round" role="button">Más información</a>
  </div>
</div>
