<div class="card card_round shadow-sm mx-3 my-4" style="width: 330px;">
  <div class="card-body px-0">
    <h3 class="card-title text-primary text-center my-3">Cursos</h3>
    <div class="app mt-4">
    <ul class="hs">
      <a class="card_button" href="#">
        <div class="card card_round shadow item" style="width: 15rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">

          </div>
          <div class="card-footer footer_card_round">
            Regístrate YA! y obtén fabulosos descuentos
          </div>
        </div>
      </a>
      <a class="card_button" href="#">
        <div class="card card_round shadow item" style="width: 15rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">

          </div>
          <div class="card-footer footer_card_round">
            Regístrate YA! y obtén fabulosos descuentos
          </div>
        </div>
      </a>
      <a class="card_button" href="#">
        <div class="card card_round shadow item" style="width: 15rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">

          </div>
          <div class="card-footer footer_card_round">
            Regístrate YA! y obtén fabulosos descuentos
          </div>
        </div>
      </a>
    </ul>
  </div>
  </div>
  <div class="card-footer footer_card_round">
    <a href="#" class="btn btn-primary btn-block button_round" role="button">Más información</a>
  </div>
</div>
