<div class="card card_round shadow-sm mx-3 my-4" style="width: 330px;">
  <div class="card-body">
    <h3 class="card-title text-primary text-center my-3">Inscripciones Abiertas</h3>
    <div class="mt-4">
      <a href="{% url 'newsletters:newsletter_signup' %}" class="btn btn-danger button_round btn-lg btn-block" role="button">
        <div class="inline-block">
          <i class="material-icons mr-1 align-middle">touch_app</i>
          <span class="align-middle">Inscríbete Aquí</span>
        </div>
      </a>
    </div>
  </div>
</div>
