<div class="card card_round shadow-sm mx-3 my-4" style="width: 330px;">
  <div class="card-body pb-0">
    <h3 class="card-title text-primary text-center my-3">Quiénes Somos</h3>
    <div class="card card_round mb-3 p-3">
      <div class="card-body centrado_circle_btn">
        <p class="card-text">Doctrina EC es una empresa ecuatoriana dedicada a proveer
          soluciones de capacitación y entrenamiento.
        </p>
      </div>
    </div>

    <div class="card card_round mb-3 p-3">
      <div class="card-body centrado_circle_btn">
        <h3 class="card-title text-primary text-center py-0">
          <i class="material-icons" style="font-size: 40px;">stars</i>
          <i class="material-icons" style="font-size: 55px;">stars</i>
          <i class="material-icons" style="font-size: 40px;">stars</i>
        </h3>
        <p class="card-text">Garantizamos calidad y máxima actualización mediante el
          uso de manuales IATA y OACI enmarcados dentro de las normativas DGAC.
        </p>
      </div>
    </div>

  </div>
  <div class="card-footer footer_card_round">
    <a href="#" class="btn btn-primary btn-block button_round" role="button">Más información</a>
  </div>
</div>
