<footer class="container-fluid bg-grey py-5">
  <div class="container">
     <div class="row">
        <div class="col-md-6">
           <div class="row">
              <div class="col-md-6 ">
                 <div class="logo-part">
                    <img src="https://i.ibb.co/sHZz13b/logo.png" class="w-50 logo-footer" >
                    <p>7637 Laurel Dr. King Of Prussia, PA 19406</p>
                    <p>Use this tool as test data for an automated system or find your next pen</p>
                 </div>
              </div>
              <div class="col-md-6 px-4">
                 <h6> Nuestra Empresa</h6>
                 <p>Expertos en capacitación y posicionamiento digital y presencial.</p>
                 <a href="#" class="btn-footer footer_link"> Más Información </a><br>
                 <a href="#" class="btn-footer footer_link"> Contáctanos</a>
              </div>
           </div>
        </div>
        <div class="col-md-6 py-3 py-md-0">
           <div class="row">
              <div class="col-md-6 px-4">
                 <h6> Vínculos de interés</h6>
                 <div class="row ">
                    <div class="col-md-6">
                       <ul>
                          <li> <a class="footer_link" href="#"> Inicio</a> </li>
                          <li> <a class="footer_link" href="#"> Talleres</a> </li>
                          <li> <a class="footer_link" href="#"> Cursos</a> </li>
                          <li> <a class="footer_link" href="{% url 'groups:all' %}"> Ver Grupos</a> </li>
                          <li> <a class="footer_link" href="#"> Quiénes Somos</a> </li>
                       </ul>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 ">
                 <h6> Actualizaciones</h6>
                 <div class="social">
                    <a class="footer_link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="footer_link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>
